.bgimg{
	background-image: url(../404pag/homero2.png);
}
.h2404{
	color: black;
	font-size: 5em;
	text-transform: uppercase;

}
.p404{
	font-size: 2em;
}
.p2404{
	font-size: 2em;
	color: violet;
}

.link404{
	text-decoration: none;
	color: white;
}