footer {
  display: flex;
  background-color:$colorfooter;
  justify-content: center; }

footer{
 ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }
}
footer{
  ul{
    li{
      margin: 20px;
      list-style: none;
    }
  }
}